.board-item {
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #D6DAD6;
  position: relative;
}

.board-content {
  margin-top: 10px;
  width: 100%;
  height: 60%;
  display: grid;
  grid-template-rows: 60% 40%;
  grid-template-columns: 100%;
  justify-items: center;
  position: relative;
  cursor: pointer;
}

.board-body {
  font-size: 14px;
}

.board-title {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  align-self: center;
}

.board-footer {
  font-size: 10px;
  align-self: flex-end;
}

.board-edit {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
  cursor: pointer;
}

.board-link {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.hide {
  display: none !important;
}

.board-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  color: #000 !important;
}

.hide-text > * {
  color: #D6DAD6;
}

