<ng-container *ngIf="display$ | async as display">
  <div class="modal-wrapper" [class.open]="display" (click)="close()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <button class="close" type="button" (click)="close()">X</button>

      <div class="modal-header">{{ modelHeader }}</div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
          <app-text-input
            [formControl]='form.controls[name]'
            [label]='name | titlecase'
            *ngFor="let name of formInputNames">
          </app-text-input>

          <button class="btn" type="submit" [disabled]="!form.valid">
            {{ btnSubmitText }}
          </button>
        </form>
      </div>
    </div>
  </div>
</ng-container>
