<ng-container *ngIf="display$ | async as display">
  <div class="modal-wrapper" [class.open]="display" (click)="close()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <button class="close" type="button" (click)="close()">X</button>

      <div class="modal-header">{{ modelHeader }}</div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
          <div class="mb-3" *ngFor="let name of formInputNames">
            <label for="{{name}}">{{ name | titlecase }}</label>
            <input type="text" id="{{name}}" class="form-input" formControlName="{{name}}">
          </div>

          <button class="btn" type="submit" [disabled]="!form.valid">
            {{ btnSubmitText }}
          </button>
        </form>
      </div>
    </div>
  </div>
</ng-container>
