.col {
  height: 100%;
  width: 100%;
}

.col-content {
  padding: 30px 10px 10px 10px;
  height: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-rows: 50px;
  gap: 20px;
  position: relative;
}

.col-content::-webkit-scrollbar {
  width: 10px;
}

.col-content::-webkit-scrollbar-thumb {
  border-left: 5px transparent solid;
  background-clip: padding-box;
  background-color: darkgrey;
}

.title {
  text-align: center;
}

.add-task {
  width: 100%;
  height: 100%;
  background-color: #A3A49E;
  position: relative;
  cursor: pointer;
}

.add-task::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #000;
  width: 5px;
  height: 30px;
  top: 50%;
  left: 50%;
  z-index: 9;
  transform: translate(-50%, -50%);
}

.add-task::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #000;
  width: 30px;
  height: 5px;
  left: 50%;
  top: 50%;
  z-index: 9;
  transform: translate(-50%, -50%);
}

.task-items {
  display: grid;
  grid-auto-rows: 80px;
  gap: 20px;
}

.colorpicker {
  position: absolute;
  right: 10px;
  top: 5px;
  border: 1px solid gray;
  height: 20px;
  cursor: pointer;
}
