<div class="col">

  <h3 class="title">{{ title }}</h3>

  <div class="col-content" [ngStyle]="{ backgroundColor: color }">
    <input
      type="color"
      class="colorpicker"
      value="{{ color }}"
      [(ngModel)]="color"
      appHandleColorChange
      name="{{ transformStatus() }}">
    <div class="add-task" (click)="openModal(status)"></div>
    <div
      cdkDropList
      [cdkDropListData]="board.tasks | filter:status"
      (cdkDropListDropped)="drop($event)"
      class="task-items">
      <div *ngFor="let task of board.tasks | filter:status">
        <app-task-item [task]="task" cdkDrag></app-task-item>
      </div>
    </div>
  </div>
</div>


