
<div class="task-item" *ngIf="task">
  <a [routerLink]="['/tasks', task._id]" class="task-link">&#8594;</a>

  <input
    [ngClass]="task.archived ? 'text-crossed-out' : 'null'"
    class="task-title"
    value="{{task.name}}"
    name="name" #taskName
    (blur)="editTask()"
    [disabled]="task.archived">
  <p class="task-date">{{ task.created_at | date: 'medium'}}</p>

  <div class="dots" [appOpenOptions]="options">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>

  <div class="task-options hide" #options>
    <p [appFocus]="taskName">Edit</p>
    <p (click)="deleteTask()">Delete</p>
    <p *ngIf="task.status === 'Done' && !task.archived" (click)="archiveTask()">Archive</p>
  </div>
</div>

