.container {
  width: 90%;
  margin: 50px auto 0 auto;
}

.content {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 450px;
  gap: 80px;
}

.text-center {
  text-align: center;
}

.board-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.board-name {
  justify-self: flex-start;
}

.delete-board {
  justify-self: flex-end;
}

.btn {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
}
