<div class="container" *ngIf="board" cdkDropListGroup>
  <h1>{{ board.name }}</h1>
  <app-filter (sortEvent)="sortTasks($event)" (filterEvent)="filterTasks($event)" (resetEvent)="resetFilter()"
    [selectOptions]="[
      { name: 'Name', value: 'name' },
      { name: 'Created At', value: 'created_at' }
    ]">
  </app-filter>

  <div class="content">
    <app-task-column [title]="'Todo'" [status]="'Todo'" [board]="board" (openModalEvent)="openModal($event)"></app-task-column>
    <app-task-column [title]="'In Progress'" [status]="'In Progress'" [board]="board" (openModalEvent)="openModal($event)"></app-task-column>
    <app-task-column [title]="'Done'" [status]="'Done'" [board]="board" (openModalEvent)="openModal($event)"></app-task-column>
  </div>

</div>

<app-modal
  [modalHeader]="'Create task'"
  [formInputNames]="['name']"
  [btnSubmitText]="'Create'"
  [mode]="'task'"
  [taskStatus]="taskStatus">
</app-modal>
