<div class="container">
  <h2 class="header">Authentication form</h2>
  <div class="wrapper">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="auth-form">

      <app-text-input [formControl]='authForm.controls["email"]' [label]='"Email"'></app-text-input>
      <app-text-input *ngIf="!isLoginMode" [formControl]='authForm.controls["username"]' [label]='"Username"'></app-text-input>
      <app-text-input [formControl]='authForm.controls["password"]' [label]='"Password"' [type]="'password'"></app-text-input>

      <p class="text-danger" *ngIf="(authError$ | async) as error">{{ error }}</p>
      <p class="text-success" *ngIf="(authMessage$ | async) as message">{{ message }}</p>

      <div class="mt-20">
        <div class="btn-group">
          <button class="btn" type="submit" [disabled]="!authForm.valid"
            *ngIf="isLoginMode">
            Login
          </button>

          <button class="btn" type="submit" [disabled]="!authForm.valid"
            *ngIf="!isLoginMode">
            Register
          </button>

          <button class="btn" type="button" (click)="onSwitchMode()">Switch to {{ isLoginMode ?
            'Register' : 'Login'}}</button>
        </div>
      </div>
    </form>
  </div>

</div>
