<div class="container">
  <h1>Dashboard</h1>
  <!-- <div class="query-options">
    <select name="" #sortBy>
      <option value="name">Name</option>
      <option value="created_at">Created At</option>
      <option value="task_status">Tasks status</option>
    </select>
    <button class="btn" #sortAsc (click)="sortBoards($event)">{{ 'asc' | uppercase }}</button>
    <button class="btn" #sortDesc (click)="sortBoards($event)">{{ 'desc' | uppercase }}</button>

    <input type="text" name="name" id="name" placeholder="name" class="filter-input" #filter>
    <button class="btn" (click)="filterBoards()">Filter</button>
    <button class="btn" (click)="resetFilter()">Reset</button>
  </div> -->
  <app-filter
    (sortEvent)="sortBoards($event)"
    (filterEvent)="filterBoards($event)"
    (resetEvent)="resetFilter()">
  </app-filter>

  <div class="content">
    <div class="new-board" (click)="openModal()">
      <span class="new-board-title">Add new</span>
    </div>
    <app-board-item *ngFor="let board of boards" [board]="board" class="w-100 h-100"></app-board-item>
  </div>

</div>

<app-modal
  [modalHeader]="'Create board'"
  [formInputNames]="['name', 'description']"
  [btnSubmitText]="'Create'"
  [mode]="'board'">
</app-modal>

