<div class="container">
  <h1>Dashboard</h1>
  <app-filter
    (sortEvent)="sortBoards($event)"
    (filterEvent)="filterBoards($event)"
    (resetEvent)="resetFilter()"
    [selectOptions]="[
      { name: 'Name', value: 'name' },
      { name: 'Created At', value: 'created_at' },
      { name: 'Tasks (Todo)', value: 'todo' },
      { name: 'Tasks (In progress)', value: 'in progress' },
      { name: 'Tasks (Done)', value: 'done' }
    ]">
  </app-filter>

  <div class="content">
    <div class="new-board" (click)="openModal()">
      <span class="new-board-title">Add new</span>
    </div>
    <app-board-item *ngFor="let board of boards" [board]="board" class="w-100 h-100"></app-board-item>
  </div>

</div>

<app-modal
  [modalHeader]="'Create board'"
  [formInputNames]="['name', 'description']"
  [btnSubmitText]="'Create'"
  [mode]="'board'">
</app-modal>

