<app-header></app-header>

<div class="container">
  <h1>Dashboard</h1>
  <div class="filter">
    <input type="text" name="name" id="name" placeholder="name" class="filter-input" #boardFilter>
    <button class="btn" (click)="filterBoards()">Filter</button>
  </div>
  <div class="content">
    <div class="new-board" (click)="openModal()">
      <span class="new-board-title">Add new</span>
    </div>
    <app-board-item *ngFor="let board of boards" [board]="board" class="w-100 h-100"></app-board-item>
  </div>

</div>

<app-modal
  [modalHeader]="'Create board'"
  [formInputNames]="['name', 'description']"
  [btnSubmitText]="'Create'">
</app-modal>

