<div class="mb-3">

  <input
    [class.is-invalid]="ngControl.touched && ngControl.invalid"
    type={{type}}
    class="form-control"
    placeholder={{label}}
    [formControl]="ngControl.control">

  <div
    class="text-danger"
    *ngIf="ngControl.control.errors?.required && ngControl.control.touched">
    Please enter a {{label}}
  </div>

  <div
    class="text-danger"
    *ngIf="ngControl.control.errors?.pattern && ngControl.control.touched">
    Please provide a valid {{label}}
  </div>

  <div
    class="text-danger"
    *ngIf="ngControl.control.errors?.minlength && ngControl.control.touched">
    {{label}} must be at least {{ngControl.control.errors.minlength['requiredLength']}} characters long
  </div>

  <div
    class="text-danger"
    *ngIf="ngControl.control.errors?.maxlength && ngControl.control.touched">
    {{label}} must be at most {{ngControl.control.errors.maxlength['requiredLength']}} characters long
  </div>

</div>

